:root {
    --logo-card-back: #5abccc;
    --logo-rect-back: #ffffff;
    --logo-card-mid: #66aceb;
    --logo-rect-mid: #ffffff;
    --logo-card-front: #4474c5;
    --logo-bar: #9ac5ea;
    --logo-dot-1: #f48325;
    --logo-dot-2: #df5f1d;
    --logo-dot-3: #f4d54e;
    --logo-dot-4: #3e9d46;
}

[data-theme='light'] {
    --action-color: #3498db;
    --text-color: #000000;
    --text-on-color: #3498db;
    --bg-color: #f5f5f5;
    --bg-panel-color: #fff;
    --border-color: #ddd;
    --interactive-color: #3498db;
    --error-color: #e74c3c;
    --header-color: #0658aa;

    --logo-card-back: #5abccc;
    --logo-rect-back: #ffffff;
    --logo-card-mid: #3498db;
    --logo-rect-mid: #ffffff;
    --logo-card-front: #0658aa;
    --logo-bar: #9ac5ea;
    --logo-dot-1: #f48325;
    --logo-dot-2: #df5f1d;
    --logo-dot-3: #f4d54e;
    --logo-dot-4: #3e9d46;
}

[data-theme='dark'] {
    --action-color: #5f6368;
    --text-color: #a8a8a8;
    --text-on-color: #d3d1d1;
    --bg-color: #000000;
    --bg-panel-color: #2c2c2c;
    --border-color: #1a1818;
    --interactive-color: #5f6368;
    --error-color: #dbee0c;
    --header-color: #424242;

    --logo-card-back: #424242;
    --logo-rect-back: #ffffff;
    --logo-card-mid: #5f6368;
    --logo-rect-mid: #ffffff;
    --logo-card-front: #2c2c2c;
    --logo-bar: #424242;
    --logo-dot-1: #f48325;
    --logo-dot-2: #df5f1d;
    --logo-dot-3: #f4d54e;
    --logo-dot-4: #3e9d46;
}

[data-theme='viridian'] {
    --action-color: #16a085;
    --text-color: #f5f5f5;
    --text-on-color: #16a085;
    --bg-color: #1b2631;
    --bg-panel-color: #233240;
    --border-color: #34495e;
    --interactive-color: #16a085;
    --error-color: #e74c3c;
    --header-color: #0e6655;

    --logo-card-back: #48c9b0;
    --logo-rect-back: #ffffff;
    --logo-card-mid: #16a085;
    --logo-rect-mid: #ffffff;
    --logo-card-front: #0e6655;
    --logo-bar: #73d2be;
    --logo-dot-1: #f48325;
    --logo-dot-2: #df5f1d;
    --logo-dot-3: #f4d54e;
    --logo-dot-4: #3e9d46;
}

[data-theme='custom'] {
    --logo-card-back: var(--interactive-color, #5abccc);
    --logo-rect-back: #ffffff;
    --logo-card-mid: var(--action-color, #66aceb);
    --logo-rect-mid: #ffffff;
    --logo-card-front: var(--header-color, #4474c5);
    --logo-bar: var(--border-color, #9ac5ea);
    --logo-dot-1: #f48325;
    --logo-dot-2: #df5f1d;
    --logo-dot-3: #f4d54e;
    --logo-dot-4: #3e9d46;
}
